* {
  transition: 0.5s all;
  direction: rtl;
  text-align: right;
}

header {
  padding: 20px;
}


#logo {
  width: 150px;
}

header form {
  position: relative;
}

header form span i {
  position: absolute;
  top: 5px;
  left: 5px;
  color: coral;
}

header input {
  width: 100%;
  position: relative;

  border: 1px solid lightgray;
  border-radius: 6px;

  margin-top: 5px;
}



.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 5px;
  margin: 0px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 50%;
}

.icon:hover {
  color: white;
  background-color: gold;
  border-color: white;
  cursor: pointer;
}

.icon span {
  position: absolute;
  top: -15px;

  background-color: brown;
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
}

@media screen and (max-width: 990px) {
  .row>div {
    margin-bottom: 30px;
  }
}

/* @media screen and (max-width: 500px) {
  .row>div {
    margin-bottom: 30px;
  }
} */



.under {

  position: relative;
  transition: 0.5s all;
}

.under:hover {
  color: orange;
  cursor: pointer;
}

.under::before {
  position: absolute;
  content: " ";
  width: 0%;
  height: 5px;
  bottom: -10px;

  background-color: coral;
  transition: 0.5s all;

}

.under:hover::before {
  width: 100%;
}

header .dropdown button{
  width: 200px;
  color: black;
  background-color: whitesmoke;

  border-color: transparent;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

}




/* Main */

main .container>p {
  margin-top: 30px;
  font-weight: bolder;
  font-size: large;
}

.selected {
  color: gold;
}

.selected:hover {
  color: gold;
  text-decoration: none;
}

.search-bar {
  position: relative;

  margin-bottom: 30px;
}

.search-bar input {
  width: 100%;
  height: 2.2rem;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.search-bar span {
  position: absolute;
  left: 10px;
  top: 5px;

  color: coral;
}

.menu-title {
  display: flex;
  justify-content: space-between;

  font-size: large;
  font-weight: bold;
  margin-bottom: 20px;
}

.main .row>div {
  padding: 5px 10px;
}

.radio input {
  width: 15px;
  height: 15px;

  position: relative;
  top: 3px;
}

#labels input {
  width: 40%;
  margin: 0px 10px;
  padding: 5px;
}

#rate ul {
  list-style: none;
  padding: 0px;
}

#rate input {
  margin: 0px 10px;
}

#rate i {
  color: coral;
}



/*  */

.box {
  width: 95%;
  padding: 5px;
  margin-bottom: 20px;

  border: 1px solid lightgray;
  border-radius: 10px;
}

.box img {
  width: 100%;
  height: 200px;
  /* padding: 20px; */

}

.box .discount {
  color: lightgray;
}

.box .text {
  font-size: small;
  font-weight: bold;
}

.box p {
  margin-bottom: 5px;
}

.five-stars {
  text-align: center;
  color: grey;
}

.box .btn {
  /* display: inline; */

  width: fit-content;
  margin: 0px auto;

  background-color: coral;
  border-color: coral;
}

.box .btn i {
  position: relative;
  font-size: large;
  top: 3px;
}


/* ----- slider ------ */

.slider {
  margin: 20px auto;
  text-align: center;
  width: 500px;
  display: flex;
  overflow: auto;
}


.slider span {
  color: black;
  background-color: lightgray;

  padding: 5px 10px;
  margin: 0px 5px;
}
.slider span:hover,
.slider span.active {
  color: white;
  background-color: coral;

  cursor: pointer;
}



/* footer */
footer {
  background-color: whitesmoke;
  padding-top: 20px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo h1 {
  font-weight: normal;
}

.footer-logo p {
  text-align: center;

}

.footer-logo img {
  width: 40%;
}



footer>p {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  padding: 10px;
  font-size: small;
}


.footer-sec {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 0px;
}

.footer-sec h2 {
  margin: 20px;
  font-weight: normal;
}

.footer-sec ul {
  list-style: none;
  padding: 0px;
}

.footer-sec li {

  text-align: center;
}

.footer-sec li a {
  color: black;
}

footer .row div:nth-of-type(3) ul {
  height: 150px;
  width: 80%;
  overflow: auto;
}

footer .row div:nth-of-type(4) a {
  text-decoration: none;
  color: black;
}

footer .row div:nth-of-type(4) p {
  align-self: flex-start;
  margin-bottom: 5px;
}

footer .row div:nth-of-type(4) i {
  font-size: 25px;
  position: relative;
  top: 5px;

  margin: 10px 0px;

}

footer .row div:nth-of-type(4) img {
  width: 40%;
}